DataCalculator/force-app/main/default/flows/Calculate_Hierarchical_data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Hierarchical_Data</name>
        <label>Calculate Hierarchical Data</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>HierarchicalDataInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Calculated_outputs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__parentRecords</typeName>
            <typeValue>Parent__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>childObject</name>
            <value>
                <stringValue>child__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentField</name>
            <value>
                <stringValue>Parent__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentObject</name>
            <value>
                <stringValue>Parent__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentRecords</name>
            <value>
                <elementReference>Get_Parent_Records</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>valueField</name>
            <value>
                <stringValue>Value__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>HierarchicalDataInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>CalculationResponseApexDefinedList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Set_Calculation_Outputs</name>
        <label>Set Calculation Outputs</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>calculationResponseRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Calculated_outputs.parentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calculationResponseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Calculated_outputs.parentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calculationResponseRecord.Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Calculated_outputs.sumValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calculationResponseRecord.Minimum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Calculated_outputs.minValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calculationResponseRecord.Average__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Calculated_outputs.avgValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calculationResponseRecord.Maximum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Calculated_outputs.maxValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calculationResponseRecord.Child_Values__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Calculated_outputs.childValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calculationResponseRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calculationResponseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Calculated_outputs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Calculate Hierarchical data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Hierarchical data</label>
    <loops>
        <name>Loop_Calculated_outputs</name>
        <label>Loop Calculated outputs</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>CalculationResponseApexDefinedList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Calculation_Outputs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CalculationResultScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Parent_Records</name>
        <label>Get Parent Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Hierarchical_Data</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Parent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CalculationResultScreen</name>
        <label>Calculation Result Screen</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CalculationResult</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Parent__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Results</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>calculationResponseRecordList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-80cf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Parent Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Child_Values__c&quot;,&quot;guid&quot;:&quot;column-e4af&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Child Values&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Sum__c&quot;,&quot;guid&quot;:&quot;column-87d9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Sum&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Minimum__c&quot;,&quot;guid&quot;:&quot;column-1995&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Minimum&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Maximum__c&quot;,&quot;guid&quot;:&quot;column-7c33&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Maximum&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Average__c&quot;,&quot;guid&quot;:&quot;column-513b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Average&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CalculationResponseApexDefinedList</name>
        <apexClass>HierarchicalDataResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>calculationResponseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Parent__c</objectType>
    </variables>
    <variables>
        <name>calculationResponseRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Parent__c</objectType>
    </variables>
</Flow>
