DataCalculator/force-app/main/default/flows/Calculate_Hierarchical_Data_Of_Parent_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Hierarchical_Data</name>
        <label>Calculate Hierarchical Data</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>HierarchicalDataInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Calculated_outputs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__parentRecords</typeName>
            <typeValue>Parent__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>childObject</name>
            <value>
                <stringValue>child__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentField</name>
            <value>
                <stringValue>Parent__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentObject</name>
            <value>
                <stringValue>Parent__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentRecords</name>
            <value>
                <elementReference>Get_Parent_Records</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>valueField</name>
            <value>
                <stringValue>Value__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>HierarchicalDataInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>CalculationResponseApexDefinedList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Set_Calculation_Outputs</name>
        <label>Set Calculation Outputs</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>calculationResponseRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Calculated_outputs.parentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calculationResponseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Calculated_outputs.parentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calculationResponseRecord.Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Calculated_outputs.sumValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calculationResponseRecord.Minimum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Calculated_outputs.minValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calculationResponseRecord.Average__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Calculated_outputs.avgValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calculationResponseRecord.Maximum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Calculated_outputs.maxValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calculationResponseRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calculationResponseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Calculated_outputs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Calculate Hierarchical Data Of Parent Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Hierarchical Data Of Parent Record</label>
    <loops>
        <name>Loop_Calculated_outputs</name>
        <label>Loop Calculated outputs</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>CalculationResponseApexDefinedList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Calculation_Outputs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CalculationResultScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Parent_Records</name>
        <label>Get Parent Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Hierarchical_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Parent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CalculationResultScreen</name>
        <label>Calculation Result Screen</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Results</name>
            <fieldText>&lt;p&gt;{!calculationResponseRecord.Sum__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!calculationResponseRecord.Minimum__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!calculationResponseRecord.Maximum__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!calculationResponseRecord.Average__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CalculationResponseApexDefinedList</name>
        <apexClass>HierarchicalDataResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>calculationResponseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Parent__c</objectType>
    </variables>
    <variables>
        <name>calculationResponseRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Parent__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
